<!DOCTYPE html>
<html><head>
  <title>Hashtagsales</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
<link href="../../../public/stylesheets/hashtagsales.css" rel="stylesheet" media="screen" type="text/css" ></head><body style="" >


<div style="" id="stage" >

	<div style="" id="header" >
		<div style="" id="menubar" >
			<span id="logotype" >hashtag sales</span>
			<div style="" id="links" >
				<a href="#" id="menulinks" >Blog</a>&nbsp;&nbsp;
				<a href="#" id="menulinks" >FAQ</a>&nbsp;&nbsp;
				<a href="#" id="menulinks" >Disclaimer</a>&nbsp;&nbsp;
				<a href="#" id="menulinks" >Contact</a>
			</div>
		</div>
		<%= image_tag "hashtag.png", :id => "logo" %>
	</div>

	<div style="" id="timeline" >
		<%= image_tag "banner.jpg" %>
		<div style="" id="post" >
			<%= image_tag "default_profile_0_bigger.png", :id => "avatar" %>
			@fulano: #vendo #blackberry 8100 $1600
		</div>
		<hr/>
		<div style="" id="post" >
			<%= image_tag "default_profile_0_bigger.png", :id => "avatar" %>
			@fulano: #vendo #blackberry 8100 $1600
		</div>
		<hr/>
		<div style="" id="post" >
			<%= image_tag "default_profile_0_bigger.png", :id => "avatar" %>
			@fulano: #vendo #blackberry 8100 $1600
		</div>
		<hr/>
		<div style="" id="post" >
			<%= image_tag "default_profile_0_bigger.png", :id => "avatar" %>
			@fulano: #vendo #blackberry 8100 $1600
		</div>
	</div>

	<div style="" id="actions" ></div>

</div>

</body></html>